@import _root_.utils.SiteMap
@import _root_.utils.MainViewContext

@()(implicit
  viewContext: MainViewContext
)

@import viewContext._
@import viewContext.frontComponents._

@main(
  None,
  SiteMap(this),
){

  <div class="container">
    <h1>Hello, World!</h1>
    <p>
      Please,
      <a href="@controllers.auth.routes.SignInController.view()">sign in</a>
      or <a href="@controllers.auth.routes.SignUpController.view()">sign up</a>.
    </p>
  </div>

}
