@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import views.html.helper
@import _root_.utils.SiteMap
@import _root_.utils.MainViewContext

@(email: String)(implicit viewContext: MainViewContext)

@import viewContext._

@main(Some(messages("activate.account.title")), Some(SiteMap.root)) {
  <fieldset class="col-md-6 col-md-offset-3">
    <legend>@messages("activate.account")</legend>
    <div class="info">
      <p>@messages("activate.account.text1")</p>
      <p><b>@email</b></p>
      <p>@messages("activate.account.text2")</p>
      <p>@Html(messages("activate.account.text3", controllers.auth.routes.ActivateAccountController.send(helper.urlEncode(email))))</p>
    </div>
  </fieldset>
}
