@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import views.html.b3
@import views.html.helper
@import authentication.Authenticated
@import _root_.utils.SiteMap
@import _root_.utils.MainViewAuthenticatedContext

@(changePasswordForm: Form[(String, String)], user: models.User)(implicit
  viewContext: MainViewAuthenticatedContext
)

@import viewContext._

@implicitFieldConstructor = @{ b3.inline.fieldConstructor() }

@main(Some(messages("change.password.title")), Some(SiteMap.root)) {
  <fieldset class="col-md-6 col-md-offset-3">
    <legend>@messages("change.password")</legend>
    @helper.form(action = controllers.auth.routes.ChangePasswordController.submit(), Symbol("autocomplete") -> "off") {
      <p class="info">@messages("strong.password.info")</p>
      @helper.CSRF.formField
      @b3.password(changePasswordForm("current-password"), Symbol("_hiddenLabel") -> messages("current.password"), Symbol("placeholder") -> messages("current.password"), Symbol("class") -> "form-control input-lg")
      @_passwordStrength(changePasswordForm("new-password"), Symbol("_hiddenLabel") -> messages("new.password"), Symbol("placeholder") -> messages("new.password"), Symbol("class") -> "form-control input-lg")
      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("change")</button>
        </div>
      </div>
    }
  </fieldset>
}
