@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import views.html.b3
@import views.html.helper
@import _root_.utils.{SiteMap, MainViewContext}

@(forgotPasswordForm: Form[String])(implicit
  mainViewContext: MainViewContext
)

@import mainViewContext._
@import mainViewContext.frontComponents._

@implicitFieldConstructor = @{ b3.inline.fieldConstructor() }

@main(Some(messages("forgot.password.title")), Some(SiteMap.root)) {
  <fieldset class="col-md-6 col-md-offset-3">
    <legend>@messages("forgot.password")</legend>
    @helper.form(action = controllers.auth.routes.ForgotPasswordController.submit(), Symbol("autocomplete") -> "off") {
      <p class="info">@messages("forgot.password.info")</p>
      @helper.CSRF.formField
      @b3.text(forgotPasswordForm("email"), Symbol("_hiddenLabel") -> messages("email"), Symbol("placeholder") -> messages("email"), Symbol("class") -> "form-control input-lg")
      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("send")</button>
        </div>
      </div>
    }
  </fieldset>
}
