@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import java.util.UUID
@import views.html.helper
@import _root_.utils.SiteMap
@import _root_.forms.GuestForm
@import _root_.utils.MainViewContext

@(form: Form[GuestForm.Data], token: UUID)(implicit
  mainViewContext: MainViewContext
)

@import mainViewContext._
@import mainViewContext.frontComponents._

@main(Some(messages("guest.title")), Some(SiteMap.root)) {

  <fieldset class="col-md-6 col-md-offset-3">

    <legend>@messages("guest.title")</legend>

    @helper.form(
      action = controllers.auth.routes.GuestController.promote(token),
      Symbol("autocomplete") -> "off"
    ) {

      <p class="info">@messages("strong.password.info")</p>

      @helper.CSRF.formField

      @_passwordStrength(
        form("password"),
        Symbol("_hiddenLabel") -> messages("password"),
        Symbol("placeholder") -> messages("password"),
        Symbol("class") -> "form-control input-lg"
      )

      @*<!-- TODO: DRY terms agreement checkbox -->*@
      <div class=Symbol("form")-group @if(form("agreedToTerms").hasErrors){has-error}'
        id="agreedToTerms_field">
        <div class="checkbox">
          <label for="agreedToTerms">
            <input id="agreedToTerms" name="agreedToTerms"
              @if(form("agreedToTerms").value.exists(b => b)){checked}
              value="true"
              type="checkbox">
            I agree to the <a href=/terms>terms of service</a>
          </label>
        </div>
        @form("agreedToTerms").errors.map{ error =>
          <span class="help-block">@error.message</span>
        }
      </div>

      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit"
            class="btn btn-lg btn-primary btn-block"
          >@messages("sign.up")</button>
        </div>
      </div>

    }

  </fieldset>

}
