@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import java.util.UUID
@import views.html.helper
@import _root_.utils.{SiteMap, MainViewContext}

@(form: Form[String], token: UUID)(implicit
  mainViewContext: MainViewContext
)

@import mainViewContext._
@import mainViewContext.frontComponents._

@main(Some(messages("reset.password.title")), Some(SiteMap.root)) {
  <fieldset class="col-md-6 col-md-offset-3">
    <legend>@messages("reset.password")</legend>
    @helper.form(action = controllers.auth.routes.ResetPasswordController.submit(token), Symbol("autocomplete") -> "off") {
      <p class="info">@messages("strong.password.info")</p>
      @helper.CSRF.formField
      @_passwordStrength(form("password"), Symbol("_hiddenLabel") -> messages("password"), Symbol("placeholder") -> messages("password"), Symbol("class") -> "form-control input-lg")
      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("reset")</button>
        </div>
      </div>
    }
  </fieldset>
}
