@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import _root_.forms.SignInForm.Data
@import views.html.b3
@import views.html.helper
@import _root_.utils.{SiteMap, MainViewContext}

@(signInForm: Form[Data])(implicit
  mainViewContext: MainViewContext
)

@import mainViewContext._
@import mainViewContext.frontComponents._

@implicitFieldConstructor = @{ b3.inline.fieldConstructor() }

@main(Some(messages("sign.in.title")), Some(SiteMap.root)) {
  <fieldset class="col-md-6 col-md-offset-3">
    <legend>@messages("sign.in.credentials")</legend>
    @helper.form(action = controllers.auth.routes.SignInController.submit()) {
      @helper.CSRF.formField
      @b3.email(
        signInForm("email"),
        Symbol("_hiddenLabel") -> messages("email"),
        Symbol("placeholder") -> messages("email"),
        Symbol("class") -> "form-control input-lg",
        Symbol("autocomplete") -> "username email",
      )
      @b3.password(
        signInForm("password"),
        Symbol("_hiddenLabel") -> messages("password"),
        Symbol("placeholder") -> messages("password"),
        Symbol("class") -> "form-control input-lg",
        Symbol("autocomplete") -> "current-password",
      )
      @b3.checkbox(signInForm("rememberMe"), Symbol("_text") -> messages("remember.me"), Symbol("checked") -> true)
      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("sign.in")</button>
        </div>
      </div>
    }

    <div>
      <p class="not-a-member">
      <a href="@controllers.auth.routes.ForgotPasswordController.view()"
        title='@messages("forgot.your.password")'>@messages("forgot.your.password")</a>
      </p>
    </div>

  </fieldset>
}
