@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import _root_.forms.SignUpForm.Data
@import views.html.b3
@import views.html.helper
@import _root_.utils.{SiteMap, MainViewContext}

@(signUpForm: Form[Data], alone: Boolean)(implicit
  mainViewContext: MainViewContext
)

@import mainViewContext._
@import mainViewContext.frontComponents._

@implicitFieldConstructor = @{ b3.inline.fieldConstructor() }

@main(Some(messages("sign.up.title")), Some(SiteMap.root)) {

  <fieldset class="col-md-6 col-md-offset-3">

    <legend>@messages("sign.up.account")</legend>

    @helper.form(action = controllers.auth.routes.SignUpController.submit()) {

      @helper.CSRF.formField

      @b3.text(signUpForm("firstName"), Symbol("_hiddenLabel") -> messages("first.name"), Symbol("placeholder") -> messages("first.name"), Symbol("class") -> "form-control input-lg")
      @b3.text(signUpForm("lastName"), Symbol("_hiddenLabel") -> messages("last.name"), Symbol("placeholder") -> messages("last.name"), Symbol("class") -> "form-control input-lg")
      @b3.text(signUpForm("email"), Symbol("_hiddenLabel") -> messages("email"), Symbol("placeholder") -> messages("email"), Symbol("class") -> "form-control input-lg")
      @_passwordStrength(signUpForm("password"), Symbol("_hiddenLabel") -> messages("password"), Symbol("placeholder") -> messages("password"), Symbol("class") -> "form-control input-lg")
      @if(alone) {
        @b3.checkbox(signUpForm("isAdmin"), Symbol("_text") -> "Admin", Symbol("value") -> true )
      }

      @*<!-- TODO: DRY terms agreement checkbox -->*@
      <div class=Symbol("form")-group @if(signUpForm("agreedToTerms").hasErrors){has-error}'
        id="agreedToTerms_field">
        <div class="checkbox">
          <label for="agreedToTerms">
            <input id="agreedToTerms" name="agreedToTerms"
              @if(signUpForm("agreedToTerms").value.exists(b => b)){checked}
              value="true"
              type="checkbox">
            I agree to the <a href=/terms>terms of service</a>
          </label>
        </div>
        @signUpForm("agreedToTerms").errors.map{ error =>
          <span class="help-block">@error.message</span>
        }
      </div>

      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("sign.up")</button>
        </div>
      </div>

      <div class="sign-in-now">
        <p>@messages("already.a.member")
          <a href="@controllers.auth.routes.SignInController.view()">@messages("sign.in.now")</a>
        </p>
      </div>

    }

  </fieldset>

}
