@import play.api.i18n.Messages
@import authentication.Authenticated
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import authentication.Authenticated
@import _root_.utils.SiteMap
@import _root_.utils.MainViewAuthenticatedContext
@import play.api.data.Form
@import views.html.helper.FieldConstructor
@import _root_.utils.StatusType
@(
  id: User.Id,
  userForm: Form[(String, Boolean)],
  passwordForm: Form[String],
  activateLink: Option[String],
  passwordLink: Option[String],
)(implicit
  viewContext: MainViewAuthenticatedContext
)

@import viewContext._

<!-- TODO: DRY Users.edit and SelfController.edit -->

@import helper._
@implicitField = @{
  FieldConstructor(views.html.forms.fieldConstructor(wide = true))
}

@defining(
  messages("users.edit.title") + " '" + userForm("email").value.get + "'"
){title => @main(
  Some(title),
  SiteMap("users")
) {

  <div class="page-header"><h1>@title</h1></div>

  <div class="container">

    @form(
      action = controllers.routes.UserController.update(id),
      Symbol("class") -> "form-horizontal"
    ) {

      @helper.CSRF.formField

      @_profilePart(userForm("email"), userForm("isAdmin"))

      @forms.fieldsSubmit("users.edit.change.profile", wide = true)

    }

    @(activateLink.fold(
      passwordLink.fold(<hr/>)(link =>
        <div>
          <hr/>
          <div class="col-md-offset-1">
            <label>Password Reset Link</label>
            <div class="row">
              <div class="col-md-7 col-xl-5">
                <p id="password_reset_link" class="long_string">{link}</p>
              </div>
              <div class="col-md-3 col-xl-2">
                <button id="password_reset_copy_btn" class="btn-primary"
                        data-toggle="tooltip">
                  Copy to clipboard
                </button>
              </div>
            </div>
          </div>
          <hr/>
        </div>
      )
    )(link =>
      <div>
        <hr/>
        <div class="col-md-offset-1">
          <label>Activation Link</label>
          <div class="row">
            <div class="col-md-7 col-xl-5">
              <p id="activation_link" class="long_string">{link}</p>
            </div>
            <div class="col-md-3 col-xl-2">
              <button id="activation_copy_btn" class="btn-primary"
                      data-toggle="tooltip">
                Copy to clipboard
            </button>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    ))

    @form(
      action = controllers.routes.UserController.updatePassword(id),
      Symbol("class") -> "form-horizontal"
    ) {

      @helper.CSRF.formField

      @_passwordPart(passwordForm("password"))

      @forms.fieldsSubmit("users.edit.change.password", wide = true)

    }

    @form(
      controllers.routes.UserController.delete(id),
      Symbol("class") -> "form-horizontal"
    ) {
      @helper.CSRF.formField
      @forms.fieldsSubmit(
        "users.edit.delete",
        StatusType.Danger,
        Map(
          Symbol("data-toggle") -> "confirmation"
        ),
        wide = true,
      )
    }


    <div class="spaced"></div>

  </div>

}}
