@import play.api.mvc.Flash
@import play.api.i18n.Messages
@import authentication.Authenticated
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import authentication.Authenticated
@import _root_.utils.SiteMap
@import _root_.utils.MainViewAuthenticatedContext

@(userForm : Form[models.User])(implicit
  viewContext: MainViewAuthenticatedContext
)

@import viewContext._

@import views.html.helper._
@implicitField = @{ FieldConstructor(views.html.forms.fieldConstructor()) }

@main(Some(messages("users.new")), SiteMap("users")) {

  <div class="page-header"><h1>@messages("users.new")</h1></div>

  <div class="container">

    @form(action = controllers.routes.UserController.save(), Symbol("class") -> "form-horizontal") {

      @helper.CSRF.formField

      @_profilePart(userForm("email"), userForm("isAdmin"))
      @_passwordPart(userForm("password"))

      @userForm.globalErrors.map{ e =>  <p>@e.toString</p> }

      @forms.fieldsSubmit("users.fresh.create")

    }

    <div class="spaced"></div>

  </div>

}
