@import models.UserData
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import authentication.Authenticated
@import _root_.utils.SiteMap
@import _root_.utils.MainViewAuthenticatedContext

@(
  users: Iterable[models.UserData]
)(implicit
  viewContext: MainViewAuthenticatedContext
)

@import viewContext._

@import helper._

@main(Some(messages("users.title")), SiteMap("users")) {

  <div class="page-header"><h1>@messages("users.title")</h1></div>

  <div class="container spaced">

    <ul class="list-group">
      @users.map{ user =>
        <li class="list-group-item">
          @views.html.users._userLink(user)
        </li>
      }
    </ul>

    <a class="btn btn-default" href="@controllers.routes.UserController.fresh()">
      @messages("users.new")
    </a>

    @form(
      action = controllers.auth.routes.GuestController.create(),
      Symbol("class") -> "form-inline spaced"
    ) {
      @helper.CSRF.formField
      <div class="form-group">
        <label for="invite-email">Email</label>
        <input type="email" name="email" class="form-control" id="invite-email"
          placeholder="client@@example.org">
      </div>
      <button type="submit" class="btn btn-primary">Send invitation</button>
    }

    <div class="spaced"></div>

  </div>

}
