@import _root_.utils.MainViewContext

@(error: String, explanation: String)(implicit
  viewContext: MainViewContext
)

@import viewContext._

@main(Some(messages("error")), None) {

  <div class="jumbotron balloon">
    <div class="container text-center">
      <h1>@messages("error.title")</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h2>@error</h2>
      <p id="detail">@Html(explanation)</p>
      @_detailedSupportLink()
    </div>
  </div>

}
