@import _root_.utils.MainViewContext

@(method: String, uri: String, message: String)(implicit
  viewContext: MainViewContext
)

@main(Some("Not Found"), None){

  <div class="jumbotron balloon">
    <div class="container text-center">
      <h1>Not Found</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <p id="detail">
        For request '@method @uri'
      </p>
      <p>
        @message
      </p>
      @_detailedSupportLink()
    </div>
  </div>

}
