@import _root_.utils.MainViewContext

@(error: play.api.UsefulException)(implicit
  viewContext: MainViewContext
)

@main(Some("Error"), None){

  <div class="jumbotron balloon">
    <div class="container text-center">
      <h1>An error occurred</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <p id="detail">
        This error has been logged with id <strong>@error.id</strong>.
        We are sorry for the inconvenience!
        This issue will be fixed as soon as possible.
      </p>
      @_detailedSupportLink()
    </div>
  </div>

}
