@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit
  messages: Messages,
  handler: views.html.helper.FieldConstructor
)

@boxValue = @{ args.toMap.getOrElse(Symbol("value"), "true") }

@views.html.helper.input(field, args:_*) { (id, name, value, htmlArgs) =>
	<div class="checkbox">
	  <label for="@id">
      <input type="checkbox" id="@id" name="@name" value="@boxValue"
        @(if(value.contains(boxValue)) "checked" else "")
        @toHtmlArgs(htmlArgs.view.filterKeys(_ == Symbol("value")).toMap)>
      <span>@args.toMap.get(Symbol("_text")).map(s => Html(s.toString))</span>
    </label>
	</div>
}