@import _root_.utils.StatusType
@(
  value: String,
  btnType: StatusType = StatusType.Default,
  args: Map[Symbol, String] = Map(),
  wide: Boolean = false,
)(implicit
  messages: Messages
)

<div class="form-group">
  <div class="col-md-offset-@{if(wide) 4; else 2} col-md-@{if(wide) 8; else 4}">
    @forms.submit(value, btnType, args)
  </div>
</div>
