@(wide: Boolean = false)(elements: helper.FieldElements)

@inputType = @{elements.args.get(Symbol("type")).map(_.toString).getOrElse("text")}

@import org.apache.commons.lang3.StringUtils

<div class="form-group @if(elements.hasErrors) {has-error} tabbed">
  @defining(elements.label.toString) { label =>
    @if(StringUtils.isNotBlank(label)){
      <label
        for="@elements.id" class="col-md-@{if(wide) 4; else 2} control-label">
        @label
      </label>
    }
  }
  <div class="col-md-@{if(wide) 8; else 4}">
    @elements.input
  </div>
  <div class='@{if(wide) "col-md-offset-4"} col-md-@{if(wide) 8; else 4}'>
    @elements.errors.map{m => <span class="help-block">@m</span>}
  </div>
</div>
