@(messages: Map[String, String] = Map())(implicit i18nMessages: Messages)

@import scala.xml.XML

@{messages.map { tm =>
	val t = if (tm._1 == "error") "danger" else tm._1
	val c = "alert alert-dismissable alert-" + t
	<div class={c}>
		<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
		{XML.loadString("<div>" + (if(Messages.isDefinedAt(tm._2)){
			Messages(tm._2)
		}else{
			tm._2
		}) + "</div>")}
	</div>
}}
